.copy_button{

    max-height: 20px;
    border: none;
    background-color: #f5744c;
    color: white;
    cursor: pointer;
    font-family: Manrope,sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}




.copy-message {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    background-color: rgba(0, 176, 148, 0.8);
    color: #fff;
    border-radius: 5px;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.copy-message.show {
    opacity: 1;
}
