{% extends 'account/layout.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'reader/styles.css' %}">
{% endblock %}

{% block content %}

    <a href="{% url 'books' %}">Главная страница</a>
    <a href="{% url 'mybooks' %}">Мои книги</a>
    <h1>Список книг</h1>
    {% if books_list %}
    <ul>
        {% for book in books_list %}
        <li>
            <div style="display: flex; align-items: center; gap: 10px"><p class="title_fc">{{ book.title }}</p> <button class="copy_button">Копировать</button> </div> ({{ book.author }})


            {% if book.id in taken_books_ids %}
                <form action="{% url 'return_book' book.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Return Book</button>
                </form>
            {% else %}
                <form action="{% url 'take_book' book.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Take Book</button>
                </form>
            {% endif %}


        </li>
        {% endfor %}
    </ul>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}

                <div id="copyMessage" class="copy-message">
                        Скопировано
                    </div>




    <script src="{% static 'reader/copy.js' %}"></script>

{% endblock %}














{#{% extends 'account/layout.html' %}#}
{#{% load static %}#}
{##}
{##}
{#{% block title %}Dashboard{% endblock %}#}
{##}
{#{% block content %}#}
{#    <h1>Books List</h1>#}
{#    <h1>{{ taken.0.reader_id }}</h1>#}
{#    <h1>{{ user.id }}</h1>#}
{##}
{#    {% if books_list %}#}
{#    <ul>#}
{##}
{#      {% for book in books_list %}#}
{#      <li>#}
{#        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})#}
{#      </li>#}
{#      {% endfor %}#}
{##}
{#    </ul>#}
{#    {% else %}#}
{#      <p>There are no books in the library.</p>#}
{#    {% endif %}#}
{#{% endblock %}#}